.btn---full {
  @include btn---full;
}


.container {
  @include container-p;
  margin: auto;

  @if $container-max-w == true {
    max-width: $full;
  }
}

@if $container-max-w == true {
  .container---full {
    max-width: none;
  }
}


.embed {
  width: 100%;
  height: 0;
  padding: 0 0 aspect-ratio(1080, 720);
  position: relative;

  &---vid {
    padding-bottom: aspect-ratio(16, 9);
  }
}

.embed--src {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


.form---single {
  width: 100%;
  display: table;
}

.form---single--input {
  width: 100%;
  display: table-cell;
}

.form---single--action {
  width: 1%;
  display: table-cell;
  padding: 0 0 0 $form---single-gutter;
}

.form---single--action--btn {
  white-space: nowrap;
}


.img---full {
  @include img---full;
}


.list---alpha    { @include list---alpha; }
.list---bulleted { @include list---bulleted; }
.list---numbered { @include list---numbered; }

.list---blocks {
  > li,
  > dd {
    margin-bottom: $block-margin;
  }
}


.media {
  display: flex;

  &--figure {
    margin: 0 $gutter 0 0;
  }

  &--body {
    flex: 1 1 0;
  }
}


.text {
  @each $alignment in left, center, right {
    &---#{$alignment} {
      text-align: $alignment;
    }
  }

  @each $casing in uppercase, lowercase {
    &---#{$casing} {
      text-transform: $casing;
    }
  }
}