$hidpi: '-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi';

$prefixes: webkit, moz, ms, o;




//  ----------------------------------------------------------------------
//  COLORS
//  ----------------------------------------------------------------------

// stylelint-disable color-no-hex
$black: #000;
$white: #fff;

$fb:        #3b5998;
$google:    #d50f25;
$pinterest: #bd081c;
$twitter:   #55acee;
// stylelint-enable color-no-hex




//  ----------------------------------------------------------------------
//  FONT WEIGHTS
//  ----------------------------------------------------------------------

$thin:  100;
$xlt:   200;
$lt:    300;
$med:   500;
$sbold: 600;
$xbold: 800;
$ultra: 900;