$hidpi: '-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi';

$prefixes: webkit, moz, ms, o;




//  ----------------------------------------------------------------------
//  COLORS
//  ----------------------------------------------------------------------

$fb:        #3b5998;
$twitter:   #55acee;
$pinterest: #bd081c;




//  ----------------------------------------------------------------------
//  FONT WEIGHTS
//  ----------------------------------------------------------------------

$thin:  100;
$xlt:   200;
$lt:    300;
$med:   500;
$sbold: 600;
$xbold: 800;
$ultra: 900;